*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.project{
    padding: 8rem 4rem;
}
.row{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 90% !important;
    height: 20%;
    margin-bottom: 1rem;
}
.card img{
    height: 18rem;
    /* bottom: 100%; */
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 1rem;
}
.btn{
    flex-shrink: 0;
}
.card-btns a{
    width: 45%;
}
.card p{
    font-size: 1.2rem;
}
.price-1{
    padding-top: 0.5rem;
}